* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*:hover{
    outline: none;
}

body{
    margin: 0;
    padding: 0;
}

p,h1,h2,h3{
    padding: 0;
    margin: 0;
}