@import "../global";

#loading {
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: .5s;


    .dash {
        margin: 0 15px;
        width: 35px;
        height: 15px;
        border-radius: 8px;
        background: #FF2CBD;
        box-shadow: 0 0 10px 0 #FECDFF;
    }

    .uno {
        margin-right: -18px;
        transform-origin: center left;
        animation: spin 3s linear infinite;
    }

    .dos {
        transform-origin: center right;
        animation: spin2 3s linear infinite;
        animation-delay: .2s;
    }

    .tres {
        transform-origin: center right;
        animation: spin3 3s linear infinite;
        animation-delay: .3s;
    }

    .cuatro {
        transform-origin: center right;
        animation: spin4 3s linear infinite;
        animation-delay: .4s;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(360deg);
        }

        30% {
            transform: rotate(370deg);
        }

        35% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin2 {
        0% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(0deg);
        }

        30% {
            transform: rotate(-180deg);
        }

        35% {
            transform: rotate(-190deg);
        }

        40% {
            transform: rotate(-180deg);
        }

        78% {
            transform: rotate(-180deg);
        }

        95% {
            transform: rotate(-360deg);
        }

        98% {
            transform: rotate(-370deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @keyframes spin3 {
        0% {
            transform: rotate(0deg);
        }

        27% {
            transform: rotate(0deg);
        }

        40% {
            transform: rotate(180deg);
        }

        45% {
            transform: rotate(190deg);
        }

        50% {
            transform: rotate(180deg);
        }

        62% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(360deg);
        }

        80% {
            transform: rotate(370deg);
        }

        85% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin4 {
        0% {
            transform: rotate(0deg);
        }

        38% {
            transform: rotate(0deg);
        }

        60% {
            transform: rotate(-360deg);
        }

        65% {
            transform: rotate(-370deg);
        }

        75% {
            transform: rotate(-360deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

.head {
    background: #232536;
    width: 100%;

    nav {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        background: #232536;
        width: 100%;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.107);

        .nav {
            display: flex;
            height: 80px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0px 18px;

            .logo {
                color: #fff;
                font-size: 21px;
                font-weight: 600;

                a {
                    text-decoration: none;
                    list-style: none;
                    color: white;
                }
            }

            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                list-style: none;

                li {
                    margin: 0 4px;
                }

                a {
                    color: #ffffffa9;
                    text-decoration: none;
                    font-size: 14.5px;
                    font-weight: 500;
                    padding: 2px 5px;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    transition: all 0.2s ease;
                }

                a.active,
                a:hover {
                    color: white;
                }
            }
        }
    }

    .nav .menu-btn i {
        color: white;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0px;

        &_left {
            width: 50%;

            .square {
                width: 20px;
                height: 20px;
                background: #FFFFFF0F;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
                color: white;
                line-height: 60px;
            }

            p {
                font-size: 16px;
                color: #FFFFFF;
                padding: 15px 0px;
                width: 95%;
            }

            .link {
                background: #444CFC;
                color: white;
                border: none;
                outline: none;
                padding: 15px 30px;
                cursor: pointer;
                margin: 0;

                .tex {
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        font-size: 15px;
                        padding: 0;
                        margin: 0;
                    }
                }

                position: relative;

                .position {
                    position: absolute;
                    top: 0;
                    left: 0;

                    img {
                        width: 25px;
                    }
                }

                transition: .3s;

                &:hover {
                    background: #2934f4;
                    color: wheat;
                }
            }
        }

        &_right {
            width: 40%;

            img {
                width: 100%;
            }
        }

        @media(max-width:960px) {
            &_left {
                h1 {
                    font-size: 44px;
                    line-height: 50px;
                }
            }
        }

        @media(max-width:840px) {
            &_left {
                .square {
                    width: 10px;
                    height: 10px;
                }

                h1 {
                    font-size: 36px;
                    line-height: 46px;
                }

                p {
                    font-size: 15px;
                }

                .link .tex p {
                    font-size: 14px;
                }
            }
        }

        @media(max-width:688px) {
            &_left {
                width: 100%;
                background: linear-gradient(#232536ce, #232536ce), url(../../image/imageHome/header.png);
                background-size: 100%;
                background-position: center;
                border-radius: 3px;
                text-align: center;
                padding: 60px;

                .square {
                    width: 10px;
                    height: 10px;
                }

                h1 {
                    font-size: 36px;
                    line-height: 46px;
                }

                p {
                    font-size: 15px;
                }

                .link .tex p {
                    font-size: 14px;
                }
            }

            &_right {
                display: none;
            }
        }

        @media (max-width:450px) {
            &_left {
                padding: 20px;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }

                .link {
                    .tex {
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        @media (max-width:300px) {
            &_left {
                padding: 0;

                h1 {
                    font-size: 26px;
                    line-height: 30px;
                }

                p {
                    font-size: 13px;
                }

                .link {
                    padding: 10px 15px;

                    .tex {
                        p {
                            font-size: 13px;
                        }
                    }

                    .position {
                        display: none;
                    }
                }
            }
        }
    }

    .partner {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        flex-wrap: wrap;

        img {
            &:nth-child(1) {
                width: 170px;
            }
        }

        @media(max-width: 250px) {
            img {
                width: 100%;

                &:nth-child(1) {
                    width: 100%;
                }
            }
        }
    }
}

main {
    .webdesign {
        padding: 50px 0px;

        h5 {
            font-size: 10px;
            color: black;
            padding: 10px 0px;
            font-weight: 600;
            margin: 0;
            color: black;
        }

        .title {
            display: flex;
            justify-content: space-between;

            h2 {
                width: 55%;
                font-size: 38px;
                font-weight: 600;
            }

            &_tex {
                width: 45%;

                h3 {
                    font-size: 32px;
                    font-weight: 600;
                }

                p {
                    font-size: 15px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        &_images {
            width: 100%;
            padding: 30px 0px;
            display: flex;
            justify-content: space-between;

            .image {
                width: 32%;
                display: flex;

                img {
                    width: 100%;
                }
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .boxes {
                display: flex;
                gap: 30px;

                .box {
                    h4 {
                        padding: 0;
                        margin: 0;
                        font-size: 28px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            .link {
                a {
                    text-decoration: none;

                    i {
                        padding: 0px 10px;
                        color: black;
                    }
                }
            }
        }

        @media (max-width:1024px) {
            .title {
                gap: 20px;

                h2 {
                    font-size: 36px;
                }
            }

            &_images {
                .image:nth-child(3) {
                    .icon {
                        display: none;
                    }
                }
            }
        }

        @media (max-width:800px) {
            .title {
                gap: 20px;
                flex-direction: column;

                h2 {
                    width: 100%;
                }

                &_tex {
                    width: 100%;
                }
            }

            &_images {
                .image {
                    width: 48%;

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }

            .info {
                gap: 20px;
                justify-content: center;
                flex-wrap: wrap;

                .boxes {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        @media (max-width:560px) {
            h5 {
                font-size: 9px;
            }

            .title {
                h2 {
                    font-size: 30px;
                }

                &_tex {
                    h3 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            &_images {
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .image {
                    width: 58%;

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }

            .info {
                gap: 20px;

                .boxes {
                    gap: 10px;

                    .box {
                        h4 {
                            font-size: 20px;
                        }

                        img {
                            width: 55px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }

                .link {
                    font-size: 14px;
                }
            }
        }

        @media (max-width:420px) {
            .title {
                h2 {
                    font-size: 26px;
                }

                &_tex {
                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            &_images {
                gap: 10px;

                .image {
                    width: 78%;

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            .info {
                .boxes {
                    .box {
                        text-align: center;
                        width: 47%;
                    }
                }

                .link {
                    font-size: 14px;
                }
            }
        }

        @media (max-width:300px) {
            h5 {
                font-size: 7px;
            }

            .title {
                h2 {
                    font-size: 20px;
                }

                &_tex {
                    h3 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }

            &_images {
                .image {
                    width: 98%;
                }
            }

            .info {
                .boxes {
                    .box {
                        h4 {
                            font-size: 14px;
                        }

                        img {
                            width: 40px;
                        }

                        p {
                            font-size: 10px;
                        }
                    }
                }

                .link {
                    font-size: 12px;
                }
            }
        }
    }

    .sec1 {
        background: #ECF8F9;
        padding: 60px 0px;

        .containr {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_left {
            width: 50%;

            h5 {
                font-size: 14px;
                color: black;
                padding: 0;
                margin: 0;
                font-weight: 500;
            }

            h2 {
                font-size: 38px;
                color: black;
                font-weight: 600;
                padding: 15px 0px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                color: black;
            }
        }

        &_right {
            .square {
                width: 20px;
                height: 20px;
                background: blue;
            }

            width: 45%;

            .cards {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .card1 {
                    display: flex;
                    gap: 10px;
                    background: white;
                    padding: 20px;
                    border-radius: 3px;

                    img {
                        width: 50px;
                    }

                    .text {
                        h4 {
                            padding: 5px 0px;
                            margin: 0;
                            font-weight: 600;
                            font-size: 16px;
                        }

                        p {
                            width: 80%;
                            font-size: 14px;
                            color: #5D5F6D;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }

            .icn {
                padding: 0;
                margin: 0;
                display: block;
                width: 100%;
            }
        }

        @media(max-width:920px) {
            &_left {
                h5 {
                    font-size: 12px;
                }

                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 14px;
                }
            }

            &_right {
                .square {
                    width: 10px;
                    height: 10px;
                }

                .cards {
                    .card1 {
                        .image {
                            img {
                                width: 40px;
                            }
                        }

                        .text {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        @media(max-width:600px) {
            .containr {
                flex-direction: column;
                align-items: start;
            }

            &_left {
                width: 100%;
            }

            &_right {
                width: 90%;
            }
        }

        @media(max-width:370px) {
            &_left {
                h5 {
                    font-size: 10px;
                }

                h2 {
                    font-size: 26px;
                }

                p {
                    font-size: 12px;
                }
            }

            &_right {
                width: 100%;

                .square {
                    width: 10px;
                    height: 10px;
                }

                .cards {
                    .card1 {
                        flex-direction: column;
                        text-align: center;

                        .image {
                            img {
                                width: 40px;
                            }
                        }

                        .text {
                            h4 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 10px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .sec2 {
        background: #FFE6D2;
        padding: 70px 0px;

        .containr {
            h6 {
                font-size: 16px;
                padding: 0;
                margin: 0;
            }

            h2 {
                font-size: 48px;
                font-weight: 600;
                color: #000000;
                width: 70%;
                padding: 15px 0px;
            }

            .link {
                padding: 10px 20px;

                a {
                    display: flex;
                    gap: 10px;
                    text-decoration: none;
                    align-items: center;
                    color: white;
                }

                background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
                width: 180px;
                border-radius: 2px;
                transition: .5s;

                &:hover {
                    background: linear-gradient(180deg, #797fea 0%, #8287e3 100%);

                    a {
                        color: black;
                    }
                }

                .position {
                    display: none;
                }

                margin-bottom: 40px;
            }

            .cards {
                display: flex;
                justify-content: space-between;

                .box2 {
                    padding: 30px 20px;
                    background: white;
                    color: black;
                    border-radius: 3px;
                    width: 32%;

                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        padding: 10px 0px;
                    }

                    p {
                        font-size: 14px;
                        color: #5D5F6D;
                        padding: 0;
                        margin: 0;
                    }

                }
            }

            @media (max-width:810px) {
                h6 {
                    font-size: 14px;
                }

                h2 {
                    font-size: 40px;
                    width: 80%;
                }

                .link {
                    a {
                        font-size: 14px;
                    }
                }

                .cards {
                    flex-wrap: wrap;
                    gap: 20px;

                    .box2 {
                        width: 47%;

                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }

            @media (max-width:560px) {
                h6 {
                    font-size: 12px;
                }

                h2 {
                    font-size: 34px;
                    width: 100%;
                }

                .link {
                    a {
                        font-size: 13px;
                    }
                }

                .cards {
                    .box2 {
                        width: 80%;

                        &:nth-child(3) {
                            display: block;
                        }
                    }
                }
            }

            @media (max-width:340px) {
                h6 {
                    font-size: 10px;
                }

                h2 {
                    font-size: 28px;
                }

                .link {
                    a {
                        font-size: 12px;
                    }
                }

                .cards {
                    .box2 {
                        width: 100%;

                        &:nth-child(3) {
                            display: block;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.link1 {
    padding: 10px 0px;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-size: 15px;

        i {
            color: black;
        }
    }

    transition: .5s;

    &:hover {
        a {
            color: black;

            i {
                color: blue;
            }
        }
    }
}

@media (max-width:340px) {
    .link1 {
        a {
            font-size: 12px;
        }
    }
}

.main2__body {
    padding: 96px 0px;

    h4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        /* identical to box height, or 143% */

        letter-spacing: 3px;
        text-transform: uppercase;

        color: #000000;

        opacity: 0.87;
    }

    h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        /* or 121% */


        color: #232536;
        padding-top: 16px;

    }

    h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        color: #232536;
        padding-top: 16px;
        opacity: 0.87;
    }

    .dg {
        width: 50%;
    }

    .kards {
        margin-top: 68px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .kard {
            transition: 0.7s;

            &:hover {
                .div2 {
                    img {
                        opacity: 1;
                    }
                }
            }

            .div1 {
                margin-bottom: 0px;
                padding: 20px;
                border: 1px solid rgba(35, 37, 54, 0.17);

                .flex {
                    display: flex;

                    .icon {
                        margin-right: 16px;
                    }

                    h5 {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 16px;
                        color: black;
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            position: relative;

            .div2 {
                position: absolute;

                img {
                    opacity: 0;
                    transition: .5s;
                    display: block;
                    width: 100%;
                    margin-top: 0px;
                }
            }
        }
    }
}

@media(max-width:1030px) {
    .main2 {
        &__body {
            .dg {
                width: 70%;
            }
        }
    }

    h1 {
        width: 100%;
    }

    .kards {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media(max-width:750px) {
    .main2 {
        &__body {
            .dg {
                width: 90%;
            }
        }
    }

    h1 {
        font-size: 40px !important;
    }
}

@media(max-width:690px) {
    .kards {
        grid-template-columns: 1fr !important;

        .kard {
            margin: 0px 30px;
        }
    }
}

@media(max-width:500px) {
    h4 {
        font-size: 12px !important;
    }

    h1 {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    h6 {
        font-size: 14px !important;
    }

    .kards {

        .kard {
            margin: 0px 0px;
        }
    }
}

@media(max-width:340px) {
    h1 {
        font-size: 26px !important;
        line-height: 34px !important;
    }

    h6 {
        font-size: 13px !important;
    }

    .kards {

        .kard {
            .flex {
                flex-direction: column;
                text-align: center;

                h5 {
                    font-size: 18px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}

.news {
    background: #ECF8F9;
    padding: 60px 0px;

    .containr {
        .square {
            width: 20px;
            height: 20px;
            background: #666DFF;
        }

        h2 {
            font-size: 44px;
            font-weight: 600;
            padding: 10px 0px;
        }

        .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .card2 {
                background: white;
                display: flex;
                justify-content: space-between;
                width: 49%;

                img {
                    width: 40%;
                }

                .text {
                    padding: 20px;

                    p {
                        font-size: 12px;
                        color: #232536;
                        padding: 0;
                        margin: 0;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 30px;
                        padding: 10px 0px;
                        margin: 0;
                    }
                }
            }
        }

        @media (max-width:1030px) {
            h2 {
                font-size: 38px;
            }

            .cards {
                flex-direction: column;
                gap: 20px;

                .card2 {
                    width: 70%;
                    align-items: center;
                }
            }
        }

        @media (max-width:900px) {
            h2 {
                font-size: 34px;
            }

            .cards {
                .card2 {
                    width: 85%;

                    .text {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        @media (max-width:630px) {
            h2 {
                font-size: 30px;
            }

            .cards {
                .card2 {
                    width: 100%;

                    .text {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        @media (max-width:550px) {
            .square {
                width: 10px;
                height: 10px;
            }

            h2 {
                font-size: 26px;
            }

            .cards {
                .card2 {
                    width: 70%;
                    margin: 0 auto;
                    flex-direction: column;
                    text-align: center;

                    img {
                        width: 100%;
                    }

                    .text {
                        p {
                            font-size: 12px;
                        }

                        h3 {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 5px 0px;
                        }

                        .link1 {
                            width: 100px;
                            margin: 0 auto;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:340px) {
            h2 {
                font-size: 22px;
            }

            .cards {
                .card2 {
                    width: 100%;

                    .text {
                        p {
                            font-size: 12px;
                        }

                        h3 {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 5px 0px;
                        }

                        .link1 {
                            width: 100px;
                            margin: 0 auto;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.yaqin {
    .f {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: #666DFF;
        padding: 96px;
        color: white;
        align-items: center;
        overflow: hidden;

        .rasm {
            position: absolute;
            left: 0;
            top: 0;
        }

        .on {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .left {
            width: 100%;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;
            }
        }

        .in {
            width: 100%;

            input {
                width: 100%;
                padding: 10px;
            }
        }

    }

}

@media(max-width:1000px) {

    .yaqin {
        .f {
            flex-direction: column;
        }
    }
}

footer {
    background: white;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 5rem 1rem;

    .f {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .col {
            min-width: 250px;
            color: black;
            font-family: poppins;
            padding: 0 1.7rem;

            h3 {
                color: #ff014fff;
                margin-bottom: 20px;
                position: relative;
                cursor: pointer;

                h3::after {
                    content: '';
                    height: 3px;
                    width: 0px;
                    background-color: #ff014fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.3s ease;

                }

                h3:hover::after {
                    width: 30px
                }
            }
        }

        .col .links a {
            display: block;
            text-decoration: none;
            color: black;
            margin-bottom: 5px;
            position: relative;
            transition: 0.3s ease;
        }

        .col .links a::before {
            content: '';
            height: 16px;
            width: 3px;
            position: absolute;
            top: 5px;
            left: -10px;
            background-color: #ff014fff;
            transition: 0.5s ease;
            opacity: 0;
        }

        .col .links a:hover::before {
            opacity: 1;
        }

        .col .links a:hover {
            transform: translateX(-8px);
            color: #ff014fff;
        }

        .col .contact-details {
            display: inline-flex;
            justify-content: space-between;
        }

        .col .contact-details i {
            margin-right: 15px;
        }
    }
}

.footer-end {
    background: #FFE6D2;
    padding: 20px 0px;

    .fle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 19.6px;

        .Afle {
            display: flex;
            gap: 25px;
            align-items: center;

            a {
                color: black;
                font-weight: 600;
                font-size: 20px;
                text-decoration: none;
            }
        }

        .icon {
            display: flex;
            gap: 15px;
        }
    }
}