@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*:hover {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.containr {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .containr {
    width: 86%;
  }
}
#loading {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: 0.5s;
}
#loading .dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #FF2CBD;
  box-shadow: 0 0 10px 0 #FECDFF;
}
#loading .uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}
#loading .dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
}
#loading .tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
}
#loading .cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

.head {
  background: #232536;
  width: 100%;
}
.head nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #232536;
  width: 100%;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.107);
}
.head nav .nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 18px;
}
.head nav .nav .logo {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}
.head nav .nav .logo a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.head nav .nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.head nav .nav ul li {
  margin: 0 4px;
}
.head nav .nav ul a {
  color: rgba(255, 255, 255, 0.662745098);
  text-decoration: none;
  font-size: 14.5px;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}
.head nav .nav ul a.active,
.head nav .nav ul a:hover {
  color: white;
}
.head .nav .menu-btn i {
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.head input[type=checkbox] {
  display: none;
}
.head .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0px;
}
.head .header_left {
  width: 50%;
}
.head .header_left .square {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.0588235294);
}
.head .header_left h1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
  line-height: 60px;
}
.head .header_left p {
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 0px;
  width: 95%;
}
.head .header_left .link {
  background: #444CFC;
  color: white;
  border: none;
  outline: none;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: 0.3s;
}
.head .header_left .link .tex {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
.head .header_left .link .tex p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.head .header_left .link .position {
  position: absolute;
  top: 0;
  left: 0;
}
.head .header_left .link .position img {
  width: 25px;
}
.head .header_left .link:hover {
  background: #2934f4;
  color: wheat;
}
.head .header_right {
  width: 40%;
}
.head .header_right img {
  width: 100%;
}
@media (max-width: 960px) {
  .head .header_left h1 {
    font-size: 44px;
    line-height: 50px;
  }
}
@media (max-width: 840px) {
  .head .header_left .square {
    width: 10px;
    height: 10px;
  }
  .head .header_left h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .head .header_left p {
    font-size: 15px;
  }
  .head .header_left .link .tex p {
    font-size: 14px;
  }
}
@media (max-width: 688px) {
  .head .header_left {
    width: 100%;
    background: linear-gradient(rgba(35, 37, 54, 0.8078431373), rgba(35, 37, 54, 0.8078431373)), url(../../image/imageHome/header.png);
    background-size: 100%;
    background-position: center;
    border-radius: 3px;
    text-align: center;
    padding: 60px;
  }
  .head .header_left .square {
    width: 10px;
    height: 10px;
  }
  .head .header_left h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .head .header_left p {
    font-size: 15px;
  }
  .head .header_left .link .tex p {
    font-size: 14px;
  }
  .head .header_right {
    display: none;
  }
}
@media (max-width: 450px) {
  .head .header_left {
    padding: 20px;
  }
  .head .header_left h1 {
    font-size: 30px;
  }
  .head .header_left p {
    font-size: 13px;
  }
  .head .header_left .link .tex p {
    font-size: 13px;
  }
}
@media (max-width: 300px) {
  .head .header_left {
    padding: 0;
  }
  .head .header_left h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .head .header_left p {
    font-size: 13px;
  }
  .head .header_left .link {
    padding: 10px 15px;
  }
  .head .header_left .link .tex p {
    font-size: 13px;
  }
  .head .header_left .link .position {
    display: none;
  }
}
.head .partner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
}
.head .partner img:nth-child(1) {
  width: 170px;
}
@media (max-width: 250px) {
  .head .partner img {
    width: 100%;
  }
  .head .partner img:nth-child(1) {
    width: 100%;
  }
}

main .webdesign {
  padding: 50px 0px;
}
main .webdesign h5 {
  font-size: 10px;
  color: black;
  padding: 10px 0px;
  font-weight: 600;
  margin: 0;
  color: black;
}
main .webdesign .title {
  display: flex;
  justify-content: space-between;
}
main .webdesign .title h2 {
  width: 55%;
  font-size: 38px;
  font-weight: 600;
}
main .webdesign .title_tex {
  width: 45%;
}
main .webdesign .title_tex h3 {
  font-size: 32px;
  font-weight: 600;
}
main .webdesign .title_tex p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
main .webdesign_images {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}
main .webdesign_images .image {
  width: 32%;
  display: flex;
}
main .webdesign_images .image img {
  width: 100%;
}
main .webdesign .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .webdesign .info .boxes {
  display: flex;
  gap: 30px;
}
main .webdesign .info .boxes .box h4 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
main .webdesign .info .boxes .box p {
  font-size: 14px;
}
main .webdesign .info .link a {
  text-decoration: none;
}
main .webdesign .info .link a i {
  padding: 0px 10px;
  color: black;
}
@media (max-width: 1024px) {
  main .webdesign .title {
    gap: 20px;
  }
  main .webdesign .title h2 {
    font-size: 36px;
  }
  main .webdesign_images .image:nth-child(3) .icon {
    display: none;
  }
}
@media (max-width: 800px) {
  main .webdesign .title {
    gap: 20px;
    flex-direction: column;
  }
  main .webdesign .title h2 {
    width: 100%;
  }
  main .webdesign .title_tex {
    width: 100%;
  }
  main .webdesign_images .image {
    width: 48%;
  }
  main .webdesign_images .image:nth-child(3) {
    display: none;
  }
  main .webdesign .info {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .webdesign .info .boxes {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  main .webdesign h5 {
    font-size: 9px;
  }
  main .webdesign .title h2 {
    font-size: 30px;
  }
  main .webdesign .title_tex h3 {
    font-size: 24px;
  }
  main .webdesign .title_tex p {
    font-size: 14px;
  }
  main .webdesign_images {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .webdesign_images .image {
    width: 58%;
  }
  main .webdesign_images .image:nth-child(3) {
    display: none;
  }
  main .webdesign .info {
    gap: 20px;
  }
  main .webdesign .info .boxes {
    gap: 10px;
  }
  main .webdesign .info .boxes .box h4 {
    font-size: 20px;
  }
  main .webdesign .info .boxes .box img {
    width: 55px;
  }
  main .webdesign .info .boxes .box p {
    font-size: 12px;
  }
  main .webdesign .info .link {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  main .webdesign .title h2 {
    font-size: 26px;
  }
  main .webdesign .title_tex h3 {
    font-size: 20px;
  }
  main .webdesign .title_tex p {
    font-size: 14px;
  }
  main .webdesign_images {
    gap: 10px;
  }
  main .webdesign_images .image {
    width: 78%;
  }
  main .webdesign_images .image:nth-child(2) {
    display: none;
  }
  main .webdesign .info .boxes .box {
    text-align: center;
    width: 47%;
  }
  main .webdesign .info .link {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  main .webdesign h5 {
    font-size: 7px;
  }
  main .webdesign .title h2 {
    font-size: 20px;
  }
  main .webdesign .title_tex h3 {
    font-size: 16px;
  }
  main .webdesign .title_tex p {
    font-size: 12px;
  }
  main .webdesign_images .image {
    width: 98%;
  }
  main .webdesign .info .boxes .box h4 {
    font-size: 14px;
  }
  main .webdesign .info .boxes .box img {
    width: 40px;
  }
  main .webdesign .info .boxes .box p {
    font-size: 10px;
  }
  main .webdesign .info .link {
    font-size: 12px;
  }
}
main .sec1 {
  background: #ECF8F9;
  padding: 60px 0px;
}
main .sec1 .containr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sec1_left {
  width: 50%;
}
main .sec1_left h5 {
  font-size: 14px;
  color: black;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
main .sec1_left h2 {
  font-size: 38px;
  color: black;
  font-weight: 600;
  padding: 15px 0px;
}
main .sec1_left p {
  font-weight: 400;
  font-size: 16px;
  color: black;
}
main .sec1_right {
  width: 45%;
}
main .sec1_right .square {
  width: 20px;
  height: 20px;
  background: blue;
}
main .sec1_right .cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .sec1_right .cards .card1 {
  display: flex;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 3px;
}
main .sec1_right .cards .card1 img {
  width: 50px;
}
main .sec1_right .cards .card1 .text h4 {
  padding: 5px 0px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
main .sec1_right .cards .card1 .text p {
  width: 80%;
  font-size: 14px;
  color: #5D5F6D;
  padding: 0;
  margin: 0;
}
main .sec1_right .icn {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}
@media (max-width: 920px) {
  main .sec1_left h5 {
    font-size: 12px;
  }
  main .sec1_left h2 {
    font-size: 32px;
  }
  main .sec1_left p {
    font-size: 14px;
  }
  main .sec1_right .square {
    width: 10px;
    height: 10px;
  }
  main .sec1_right .cards .card1 .image img {
    width: 40px;
  }
  main .sec1_right .cards .card1 .text p {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  main .sec1 .containr {
    flex-direction: column;
    align-items: start;
  }
  main .sec1_left {
    width: 100%;
  }
  main .sec1_right {
    width: 90%;
  }
}
@media (max-width: 370px) {
  main .sec1_left h5 {
    font-size: 10px;
  }
  main .sec1_left h2 {
    font-size: 26px;
  }
  main .sec1_left p {
    font-size: 12px;
  }
  main .sec1_right {
    width: 100%;
  }
  main .sec1_right .square {
    width: 10px;
    height: 10px;
  }
  main .sec1_right .cards .card1 {
    flex-direction: column;
    text-align: center;
  }
  main .sec1_right .cards .card1 .image img {
    width: 40px;
  }
  main .sec1_right .cards .card1 .text h4 {
    font-size: 16px;
  }
  main .sec1_right .cards .card1 .text p {
    font-size: 10px;
    width: 100%;
  }
}
main .sec2 {
  background: #FFE6D2;
  padding: 70px 0px;
}
main .sec2 .containr h6 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
main .sec2 .containr h2 {
  font-size: 48px;
  font-weight: 600;
  color: #000000;
  width: 70%;
  padding: 15px 0px;
}
main .sec2 .containr .link {
  padding: 10px 20px;
  background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
  width: 180px;
  border-radius: 2px;
  transition: 0.5s;
  margin-bottom: 40px;
}
main .sec2 .containr .link a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  color: white;
}
main .sec2 .containr .link:hover {
  background: linear-gradient(180deg, #797fea 0%, #8287e3 100%);
}
main .sec2 .containr .link:hover a {
  color: black;
}
main .sec2 .containr .link .position {
  display: none;
}
main .sec2 .containr .cards {
  display: flex;
  justify-content: space-between;
}
main .sec2 .containr .cards .box2 {
  padding: 30px 20px;
  background: white;
  color: black;
  border-radius: 3px;
  width: 32%;
}
main .sec2 .containr .cards .box2 h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
}
main .sec2 .containr .cards .box2 p {
  font-size: 14px;
  color: #5D5F6D;
  padding: 0;
  margin: 0;
}
@media (max-width: 810px) {
  main .sec2 .containr h6 {
    font-size: 14px;
  }
  main .sec2 .containr h2 {
    font-size: 40px;
    width: 80%;
  }
  main .sec2 .containr .link a {
    font-size: 14px;
  }
  main .sec2 .containr .cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  main .sec2 .containr .cards .box2 {
    width: 47%;
  }
  main .sec2 .containr .cards .box2:nth-child(3) {
    display: none;
  }
}
@media (max-width: 560px) {
  main .sec2 .containr h6 {
    font-size: 12px;
  }
  main .sec2 .containr h2 {
    font-size: 34px;
    width: 100%;
  }
  main .sec2 .containr .link a {
    font-size: 13px;
  }
  main .sec2 .containr .cards .box2 {
    width: 80%;
  }
  main .sec2 .containr .cards .box2:nth-child(3) {
    display: block;
  }
}
@media (max-width: 340px) {
  main .sec2 .containr h6 {
    font-size: 10px;
  }
  main .sec2 .containr h2 {
    font-size: 28px;
  }
  main .sec2 .containr .link a {
    font-size: 12px;
  }
  main .sec2 .containr .cards .box2 {
    width: 100%;
  }
  main .sec2 .containr .cards .box2:nth-child(3) {
    display: block;
  }
  main .sec2 .containr .cards .box2 p {
    font-size: 12px;
  }
}

.link1 {
  padding: 10px 0px;
  transition: 0.5s;
}
.link1 a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 15px;
}
.link1 a i {
  color: black;
}
.link1:hover a {
  color: black;
}
.link1:hover a i {
  color: blue;
}

@media (max-width: 340px) {
  .link1 a {
    font-size: 12px;
  }
}
.main2__body {
  padding: 96px 0px;
}
.main2__body h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  /* identical to box height, or 143% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}
.main2__body h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */
  color: #232536;
  padding-top: 16px;
}
.main2__body h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #232536;
  padding-top: 16px;
  opacity: 0.87;
}
.main2__body .dg {
  width: 50%;
}
.main2__body .kards {
  margin-top: 68px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.main2__body .kards .kard {
  transition: 0.7s;
  position: relative;
}
.main2__body .kards .kard:hover .div2 img {
  opacity: 1;
}
.main2__body .kards .kard .div1 {
  margin-bottom: 0px;
  padding: 20px;
  border: 1px solid rgba(35, 37, 54, 0.17);
}
.main2__body .kards .kard .div1 .flex {
  display: flex;
}
.main2__body .kards .kard .div1 .flex .icon {
  margin-right: 16px;
}
.main2__body .kards .kard .div1 .flex h5 {
  font-size: 20px;
  font-weight: 600;
}
.main2__body .kards .kard .div1 .flex p {
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 0;
}
.main2__body .kards .kard .div2 {
  position: absolute;
}
.main2__body .kards .kard .div2 img {
  opacity: 0;
  transition: 0.5s;
  display: block;
  width: 100%;
  margin-top: 0px;
}

@media (max-width: 1030px) {
  .main2__body .dg {
    width: 70%;
  }
  h1 {
    width: 100%;
  }
  .kards {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 750px) {
  .main2__body .dg {
    width: 90%;
  }
  h1 {
    font-size: 40px !important;
  }
}
@media (max-width: 690px) {
  .kards {
    grid-template-columns: 1fr !important;
  }
  .kards .kard {
    margin: 0px 30px;
  }
}
@media (max-width: 500px) {
  h4 {
    font-size: 12px !important;
  }
  h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  .kards .kard {
    margin: 0px 0px;
  }
}
@media (max-width: 340px) {
  h1 {
    font-size: 26px !important;
    line-height: 34px !important;
  }
  h6 {
    font-size: 13px !important;
  }
  .kards .kard .flex {
    flex-direction: column;
    text-align: center;
  }
  .kards .kard .flex h5 {
    font-size: 18px !important;
  }
  .kards .kard .flex p {
    font-size: 14px !important;
  }
}
.news {
  background: #ECF8F9;
  padding: 60px 0px;
}
.news .containr .square {
  width: 20px;
  height: 20px;
  background: #666DFF;
}
.news .containr h2 {
  font-size: 44px;
  font-weight: 600;
  padding: 10px 0px;
}
.news .containr .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news .containr .cards .card2 {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 49%;
}
.news .containr .cards .card2 img {
  width: 40%;
}
.news .containr .cards .card2 .text {
  padding: 20px;
}
.news .containr .cards .card2 .text p {
  font-size: 12px;
  color: #232536;
  padding: 0;
  margin: 0;
}
.news .containr .cards .card2 .text h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px 0px;
  margin: 0;
}
@media (max-width: 1030px) {
  .news .containr h2 {
    font-size: 38px;
  }
  .news .containr .cards {
    flex-direction: column;
    gap: 20px;
  }
  .news .containr .cards .card2 {
    width: 70%;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .news .containr h2 {
    font-size: 34px;
  }
  .news .containr .cards .card2 {
    width: 85%;
  }
  .news .containr .cards .card2 .text h3 {
    font-size: 20px;
  }
}
@media (max-width: 630px) {
  .news .containr h2 {
    font-size: 30px;
  }
  .news .containr .cards .card2 {
    width: 100%;
  }
  .news .containr .cards .card2 .text h3 {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .news .containr .square {
    width: 10px;
    height: 10px;
  }
  .news .containr h2 {
    font-size: 26px;
  }
  .news .containr .cards .card2 {
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }
  .news .containr .cards .card2 img {
    width: 100%;
  }
  .news .containr .cards .card2 .text p {
    font-size: 12px;
  }
  .news .containr .cards .card2 .text h3 {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 0px;
  }
  .news .containr .cards .card2 .text .link1 {
    width: 100px;
    margin: 0 auto;
  }
  .news .containr .cards .card2 .text .link1 a {
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  .news .containr h2 {
    font-size: 22px;
  }
  .news .containr .cards .card2 {
    width: 100%;
  }
  .news .containr .cards .card2 .text p {
    font-size: 12px;
  }
  .news .containr .cards .card2 .text h3 {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 0px;
  }
  .news .containr .cards .card2 .text .link1 {
    width: 100px;
    margin: 0 auto;
  }
  .news .containr .cards .card2 .text .link1 a {
    font-size: 12px;
  }
}

.yaqin .f {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #666DFF;
  padding: 96px;
  color: white;
  align-items: center;
  overflow: hidden;
}
.yaqin .f .rasm {
  position: absolute;
  left: 0;
  top: 0;
}
.yaqin .f .on {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.yaqin .f .on img {
  width: 100%;
  height: 100%;
}
.yaqin .f .left {
  width: 100%;
}
.yaqin .f .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.yaqin .f .left h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.yaqin .f .in {
  width: 100%;
}
.yaqin .f .in input {
  width: 100%;
  padding: 10px;
}

@media (max-width: 1000px) {
  .yaqin .f {
    flex-direction: column;
  }
}
footer {
  background: white;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 5rem 1rem;
}
footer .f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
footer .row .col {
  min-width: 250px;
  color: black;
  font-family: poppins;
  padding: 0 1.7rem;
}
footer .row .col h3 {
  color: #ff014f;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
footer .row .col h3 h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #ff014f;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
footer .row .col h3 h3:hover::after {
  width: 30px;
}
footer .row .col .links a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
footer .row .col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #ff014f;
  transition: 0.5s ease;
  opacity: 0;
}
footer .row .col .links a:hover::before {
  opacity: 1;
}
footer .row .col .links a:hover {
  transform: translateX(-8px);
  color: #ff014f;
}
footer .row .col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}
footer .row .col .contact-details i {
  margin-right: 15px;
}

.footer-end {
  background: #FFE6D2;
  padding: 20px 0px;
}
.footer-end .fle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 19.6px;
}
.footer-end .fle .Afle {
  display: flex;
  gap: 25px;
  align-items: center;
}
.footer-end .fle .Afle a {
  color: black;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.footer-end .fle .icon {
  display: flex;
  gap: 15px;
}

/*# sourceMappingURL=home.css.map */
